<?php if ($this->canDisplay()): ?>
    <div>
        <?php foreach ($this->getItems() as $item): ?>
            <h3><?= $item['question'] ?></h3>
            <p><?= $item['answer'] ?></p>
            <hr>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
